HOST_NAME=http://localhost:3000/

# MONGO_URL=mongodb://localhost:27017/teslodb

JWT_SECRET_SEED=
NEXTAUTH_SECRET=


#CREDENTIALS PROVIDERS
GITHUB_ID=
GITHUB_SECRET=


# PAYPAL
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
PAYPAL_SECRET=


PAYPAL_OAUTH_URL=https://api-m.sandbox.paypal.com/v1/oauth2/token
PAYPAL_ORDERS_URL=https://api.sandbox.paypal.com/v2/checkout/orders


CLOUDINARY_URL=

DUMMY_PASSWORD=